.documentation {
    padding: 30px 0 300px 0;
}

.documentation-inner {
    overflow: hidden
}

.documentation-list {
    width: calc(100% + 18px);
    display: flex;
    flex-wrap: wrap;
}

.documentation-item {
    width: calc((100% / 2) - 18px);
    margin: 0 18px 18px 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 36px;
}

.documentation-item-preview {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.documentation-item-article {
    position: relative;
}

.documentation-item-article h5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.docs__items {
    display: flex !important;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    gap: 30px;
}

.docs__item {
    padding: 51px 290px 22px 36px;
    width: 569px;
    height: 166px;
}

.docs__item-text {
    color: #FFF;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 19px;
}

.gov {
    background-image: url('../img/gov.png');
    background-size: cover;
    background-position: center;
}
.rules {
    background-image: url("../img/rules.png");
    background-size: cover;
    background-position: center;
}

.docs-inner {
    margin: 0 auto;
    padding: 100px 0;
}

.flag-container {
    display: flex;
    justify-content: center;
    margin:20px;
}
.flag-kz {

}
.gov__description {
    margin-top: 20px;
}

.gov__description a:hover {
    color: #1D4189 !important;
}

.gov__description p {
    color:  #1B1C25;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 140%;
    margin-bottom: 1rem;
}
.govs-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.docs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.docs__property {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.docs__title {
    max-width: 1000px;
    color: #2d2d30;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.docs__title:hover {
    transition: 1.2ms all ease-in;
    color: #F29646;
}

.docs__file-text {
    font-size: 14px;
    color: #BABABA;
}

.docs__items {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.docs__header-title {
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    body {

    }
    .documentation-list {
        margin-left: 25px;
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}

