.news-inner {
    padding: 40px 120px;
    border-bottom: 1px solid;
}

.news-inner * {
    padding-bottom: 30px;
}
.news-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
}
.news-img {
    width: 860px;
    height: 570px;
}
.news-text {
    line-height: 24px;
}
.mt-1 {
    margin-top: 10px;
}

.news-date {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #ABACB4;
}

.other_news_inner {

    max-width: 1190px;
    margin: 0 auto;
    padding: 40px 120px;

}


.tags-section {
    display: flex;
    align-items: center;
    gap: 13px;
}

.tags {
    gap: 13px;
    display: flex;
}

.tag {
    padding: 5px 12px;
    border-radius: 7px;
    background: rgba(29, 65, 137, 0.10);
    color: #1D4189;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

}