.report {
    padding: 30px 0 300px 0;
}

.reports__items {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.reports__item {
    width: 1100px;
    border-radius: 20px;
    background: #F4F5F6;
    padding: 28px 20px 28px 41px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reports__item-text {
    color: #1D4189;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reports__item-contents {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.reports__item-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 50px;
}

.report__year-text {
    color: #1D4189;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.report__files {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-left: 30px;
}

.report__file {
    width: 700px;
    display: flex;
    margin-top: 15px;
    margin-left: 30px;
    align-items: center;
}

.report__file-text {
    color: #000;
    font-size: 16px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.report__file-text:hover {
    transition: 1.2ms all ease-in;
    color: #F29646;
}

.year-content__block {
    padding: 18px;
    border-radius: 16px;
    background: #F4F5F6;
    width: 80px;
}

.reports__tabs {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.reports__tab {
    padding: 10px;
    border-radius: 5px;
    background: #F4F5F6;
    color: #1D4189;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.report__files {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab__active {
    color: #F29646;
}